<ion-header>
  <ion-toolbar>
    <div class="w3-center">
        <ion-title color="primary">
      <b style="color: green;">Computação Verde</b>
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo-slide">
    <ion-slides>
      <ion-slide>
          <ion-card class="welcome-card">
              <img src="/assets/TIC-verde.jpg" alt="" />
              <ion-card-header>
              </ion-card-header>
                <div class="w3-center">
              <ion-card-title><b>Breve introdução</b></ion-card-title> 
            </div>
            <ion-card-content>
              <div style="width: 100%; text-align: justify;">
               <p class="p-conteudo">
                "A computação verde (ou TI Verde) é o uso de ações responsáveis e ecológicamente corretas dos 
                computadores e seus recursos. Em termos mais amplos, a computação verde também é definida como 
                o estudo de projeto, fabricação / engenharia, uso e descarte de dispositivos de computação, 
                de maneira que seu impacto ambiental seja reduzido." (Tradução livre)
      
              </p>
              <p class="p-conteudo">
                  <i>
                      A TI Verde também pode ser definida como um conjunto de práticas capazes de garantir  
                      que a atividade de uma empresa gere menor impacto ambiental.(PHELIPE, 2010).
                  </i>
              </p>

              <p class="p-conteudo">

              </p>
              </div>
              </ion-card-content>
            </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
            <img src="/assets/ti-verde.png" alt="" />
            <ion-card-header>
            </ion-card-header>
              <div class="w3-center">
            <ion-card-title><b>Um pouco mais sobre</b></ion-card-title> 
          </div>
          <ion-card-content>
            <div style="width: 100%; text-align: justify;">
             <p class="p-conteudo">
              A importância para os negócios, sociedade e futuro do planeta faz com que a TI Verde ganhe cada vez 
              mais espaço e destaque para a comunidade técnica (profissionais de TI) que, através de pesquisa e 
              desenvolvimento, atuarão diretamente no sucesso e na inovação tecnológica que auxilie o desenvolvimento 
              sustentável.<br /><br />
             </p>

             <p class="p-conteudo">
             As práticas de TI Verde podem ser divididas em três níveis:<br />
             – TI Verde Tático: Incorporação de medidas de contenção de gastos elétricos;<br />
             – TI Verde Estratégico: Auditoria sobre a infraestrutura de TI e seu uso relacionado ao meio ambiente;<br />
             – Deep  IT (TI Verde “a fundo”): Incorpora o projeto e implementação estrutural de um parque tecnológico
               visando a maximização do desempenho com o mínimo gasto elétrico.<br /><br />

             <a href="http://www.guiadohardware.net/arquivos/TI-Verde.pdf" target="_system" title="TI Verde: conceitos e práticas">(Fonte: guiadohardware)</a> 
             
            </p>

            </div>
            </ion-card-content>
          </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card class="welcome-card">
            <img src="/assets/note.jpg" alt="" />
            <ion-card-header>
            </ion-card-header>
              <div class="w3-center">
            <ion-card-title><b>Computação prejudica o meio ambiente?</b></ion-card-title> 
          </div>
          <ion-card-content>
            <div style="width: 100%; text-align: justify;">
             <p class="p-conteudo">
              De hardware à software, nada pode ser produzido sem o consumo de muita energia elétrica. Os data centers que permitem que a 
              internet funcione de forma adequada para milhões de usuários gastam tanta energia quanto um país e, de acordo com um comparativo 
              realizado frente a dados da CIA (Central Intelligence Agency), a Google consomiu o mesmo que a Turquia em 2012. Ainda que isso signifique 
              0,01% dos 19,710kWh consumidos globalmente, são números vultosos, se considerarmos que se trata de apenas uma empresa.<br />
              <a href="https://www.inforrede.com.br/voce-sabe-o-que-e-ti-verde/" target="_system" title="Voce sabe o que é TI Verde?">(Fonte: Inforrede)</a> 
             <br /><br /></p>

             <div class="w3-center">
             <ion-card-title><b>Mas é só com gasto de energia?</b></ion-card-title>
             </div>
             <p class="p-conteudo">
              Um estudo da Universidade das Nações Unidas realizado em 2007 mostra que no processo de fabricação de um computador de uso pessoal,
              são consumidos 240 quilos de combustíveis fósseis, 22 quilos de produtos químicos diversos e 1.500 quilos de água. 
              Dentre os produtos químicos utilizados encontram-se metais preciosos (ouro, prata, platina e paládio), 
              metais pesados (cobre, estanho, gálio, índio, e chumbo), além de diversos outros, como polímeros.<br />
              A grande quantidade de materiais utilizados e a periculosidade de outros faz com que computadores sejam produtos 
              não sustentáveis ambientalmente.<br />
             <a href="https://www.inovacaotecnologica.com.br/noticias/noticia.php?artigo=010125070309#.XlHMwOkpA5l" target="_system" title="Fabricação de computadores">(Fonte: Inovacao tecnologica)</a>    
             <br /><br /></p>
             
             <div class="w3-center">
             <ion-card-title><b>E o descarte disso tudo?</b></ion-card-title>
             </div>
             <p class="p-conteudo">
                Em 2016, o mundo gerou 44,7 milhões de toneladas de lixo eletrônico, 3,3 milhões de toneladas (8%) a mais do que em 2014. 
                O montante equivale ao peso de quase 4.500 torres Eiffel. Os dados são do Global E-waste Monitor 2017, relatório internacional 
                elaborado pela Universidade das Nações Unidas (UNU) em parceria com União Internacional das Telecomunicações (UIT) e a ISWA – 
                International Solid Waste Association (Associação Internacional de Resíduos Sólidos).<br />
                Computadores, celulares e outros gadgets descartados como lixo são ricos depósitos de ouro, prata, cobre, platina entre outros materiais de valor. 
                O estudo da ONU estima que todo o lixo eletrônico gerado em 2016 poderia gerar US$ 55 bilhões em valor de materiais reaproveitáveis.<br />
                <a href="https://exame.abril.com.br/mundo/geracao-anual-de-lixo-eletronico-passa-de-40-milhoes-de-toneladas/" target="_system" title="Geração anual de Lixo eletrônico">(Fonte: Revista Exame)</a>    
             <br /><br /></p>

            </div>  
            </ion-card-content>
          </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card class="welcome-card">
            <img src="/assets/tecla.jpg" alt="" />
            <ion-card-header>
            </ion-card-header>
              <div class="w3-center">
            <ion-card-title><b>E a computação verde na prática?</b></ion-card-title> 
          </div>
          <ion-card-content>
            <div style="width: 100%; text-align: justify;">
             <p class="p-conteudo">
              Com a crescente expansão da TI Verde, as empresas de pequeno e médio porte passaram a adotar tais medidas na busca pela sustentabilidade 
              com ganhos econômicos e ambientais, antesseguidas somente por grandes empresas e corporações. Segundo pesquisas realizadas pela IBM, 
              66% das empresas de médio porte do país já acompanham os seus consumos de energia e 70% delas planejam ou já realizam atividades para 
              reduzir o impacto ambiental.<br />
              <a href="http://www.guiadohardware.net/arquivos/TI-Verde.pdf" target="_system" title="Empresas de médio porte dedicam-se à TI Verde">(Fonte: guiadohardware)</a> 
             <br /><br /></p>

             <div class="w3-center">
             <ion-card-title><b>É só para empresas de pequeno-médio porte?</b></ion-card-title>
             </div>
             <p class="p-conteudo">
              Empresas  de  desenvolvimento  formaram  um  consórcio  chamado The  Green  Grid. Este  grupo  é  composto  por  diversas  empresas  
              da  área  de  TI  como  AMD,  APC,  Dell,  HP, IBM, Intel, Microsoft, Rackable Systems, SprayCool (adquirida em 2010 pela Parker), 
              Sun Microsystems e VMware. O principal objetivo é melhorar a eficiência da infraestrutura de data centers. Com  a missão de transformar 
              o mundo em um local onde apenas eletrônicos sustentáveis são projetados, fabricados, utilizados e reciclados o Green Electronic 
              Council foi criado.<br />
              A contribuição deste conselho é com relação ao entendimento, tanto por parte de fabricantes  quanto  por  parte  dos  compradores, 
              das  questões  principais  sobre  produtos sustentáveis que são a conscientização, o comprometimento e a ação de compra de produtos verdes.
              <br />
             <a href="http://www.fatece.edu.br/arquivos/arquivos%20revistas/perspectiva/volume6/5.pdf" target="_system" title="TI VERDE: 24 ANOS TRANSFORMANDO A COMPUTAÇÃO EM UMA ATIVIDADE MAIS SUSTENTÁVEL">(Fonte: fatece)</a>    
             <br /><br /></p>
             
             <div class="w3-center">
             <ion-card-title><b>Nós também podemos contribuir?</b></ion-card-title>
             </div>
             <p class="p-conteudo">
              Algumas ações simples e outras que exigem um pouco mais de conhecimento técnico podemser adotadas pela sociedade afim de colaborar com a 
              sustentabilidade do planeta. Exemplos como a aquisição de produtos desenvolvidos com materiais sustentáveis ou que sejam produzidos dentro 
              depadrões classificáveis como “verdes” são atitudes que todos devem ter no momento da aquisição deum novo produto.<br />
              E ao término de sua vida útil, existe uma série de práticas que podem ser realizadas para o tratamento correto do lixo eletrônico, como o 
              descarte correto em institutos e organizações que podem tratá-lo sem que cause impactos significativos ao meio ambiente.<br />
                <a href="http://www.guiadohardware.net/arquivos/TI-Verde.pdf" target="_system" title="A TI Verde e a sociedade">(Fonte: guiadohardware)</a>    
             <br /><br /></p>

            </div>  
            </ion-card-content>
          </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  </ion-content>
