<ion-header>
  <ion-toolbar>
  <ion-title>
      Sistemas Operacionais
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="welcome-card">
  <img src="/assets/capa1.jpg" alt="" />
  <ion-card-header>
    <ion-card-subtitle>Grupo 3 - Álvaro Prado & Caroline Victória</ion-card-subtitle>
    <ion-card-title>Computação para quem não gosta de programar</ion-card-title> 
  </ion-card-header>
  <ion-card-content>
    <p>Também conhecido como <b style="color: green;">Computação Verde</b> e <b>Computação Ubíqua</b></p>
  </ion-card-content>
</ion-card>
<div class="content">
  <ion-slides>
    <ion-slide>
        <ion-card class="welcome-card">
            <img src="/assets/slide1.jpg" alt="" width=""/>
            <ion-card-header>
            </ion-card-header>
            <ion-card-content>
              <p>Computação ubíqua (em inglês: Ubiquitous Computing ou ubicomp) ou computação pervasiva é um termo usado para descrever a onipresença da informática no cotidiano das pessoas.</p>
            </ion-card-content>
          </ion-card>
    </ion-slide>
  <ion-slide>
      <ion-card class="welcome-card">
          <img src="/assets/capa1.jpg" alt="" />
          <ion-card-header>
            <ion-card-title>Computação para quem não gosta de programar</ion-card-title> 
          </ion-card-header>
          <ion-card-content>
            <p>Também conhecido como <b style="color: green;">Computação Verde</b> e <b>Computação Ubíqua</b></p>
          </ion-card-content>
        </ion-card>
  </ion-slide>

  </ion-slides>
</div>
</ion-content>

