<ion-header>
    <ion-toolbar>
      <div class="w3-center">
          <ion-title color="primary">
            <b style="color: blue;">Computação Ubíqua</b>
      </ion-title>
    </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="conteudo-slide">
      <ion-slides>
        <ion-slide>
            <ion-card class="welcome-card">
                <img src="/assets/ubq1.jpg" alt="" />
                <ion-card-header>
                </ion-card-header>
                  <div class="w3-center">
                <ion-card-title><b>Breve introdução</b></ion-card-title> 
              </div>
              <ion-card-content>
                <div style="width: 100%; text-align: justify;">
                 <p class="p-conteudo">
                    O termo Computação Ubíqua, foi definido pela primeira vez pelo cientista 
                    chefe do Centro de Pesquisa Xerox PARC, Sr Mark Weiser, 
                    em seu artigo “O Computador do Século 21 
                    (The Computer for the 21st Century ), em 1988. Nesse artigo previa um 
                    aumento dos serviços de computação para os usuários finais, 
                     entretanto a visibilidade destes serviços seria a menor possível chegando 
                     a um ponto em que nós seres humanos não perceberíamos a imersão na tecnologia. 
        
                </p>
                <p class="p-conteudo">
                    <i>"A Computação Ubíqua neste contexto não significa um computador que possa 
                    ser transportado para a praia, o campo ou o aeroporto. Mesmo o mais poderoso 
                    notebook, com acesso a Internet ainda foca a atenção do usuário numa simples caixa. 
                    Comparando à escrita, carregar um super-notebook é como carregar um livro muito importante. 
                    rsonalizar este livro, mesmo escrevendo milhões de outros livros, não significa capturar o 
                    real poder da Literatura" (Tradução Livre).</i>
                </p>

                <p class="p-conteudo">

                </p>
                </div>
                </ion-card-content>
              </ion-card>
        </ion-slide>
      <ion-slide>
          <ion-card class="welcome-card">
              <img src="/assets/ubq2.jpg" alt="" />
              <ion-card-header>
                <ion-card-subtitle>Grupo 3 - Álvaro Prado & Caroline Victória</ion-card-subtitle>
                <ion-card-title>Computação para quem não gosta de programar</ion-card-title> 
              </ion-card-header>
              <ion-card-content>
                <p>Também conhecido como <b style="color: green;">Computação Verde</b> e <b>Computação Ubíqua</b></p>
                <br /><ion-button expand="full" (click)="openSystem()">Questionario</ion-button><br />
              </ion-card-content>
            </ion-card>
      </ion-slide>
      </ion-slides>
    </div>
    </ion-content>
  