<ion-header>
    <ion-toolbar>
      <div class="w3-center">
          <ion-title color="primary">
            <b style="color: blue;">Computação Ubíqua</b>
      </ion-title>
    </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="conteudo-slide">
      <ion-slides>
        <ion-slide>
            <ion-card class="welcome-card">
                <img src="/assets/ubq1.jpg" alt="" />
                <ion-card-header>
                </ion-card-header>
                  <div class="w3-center">
                <ion-card-title><b>Breve introdução</b></ion-card-title> 
              </div>
              <ion-card-content>
                <div style="width: 100%; text-align: justify;">
                 <p class="p-conteudo">
                    O termo Computação Ubíqua, foi definido pela primeira vez pelo cientista 
                    chefe do Centro de Pesquisa Xerox PARC, Sr Mark Weiser, 
                    em seu artigo “O Computador do Século 21 
                    (The Computer for the 21st Century ), em 1988. Nesse artigo previa um 
                    aumento dos serviços de computação para os usuários finais, 
                     entretanto a visibilidade destes serviços seria a menor possível chegando 
                     a um ponto em que nós seres humanos não perceberíamos a imersão na tecnologia. 
        
                </p>
                <p class="p-conteudo">
                    <i>"A Computação Ubíqua neste contexto não significa um computador que possa 
                    ser transportado para a praia, o campo ou o aeroporto. Mesmo o mais poderoso 
                    notebook, com acesso a Internet ainda foca a atenção do usuário numa simples caixa. 
                    Comparando à escrita, carregar um super-notebook é como carregar um livro muito importante. 
                    rsonalizar este livro, mesmo escrevendo milhões de outros livros, não significa capturar o 
                    real poder da Literatura" (Tradução Livre).</i>
                   
                </p>
                <br>
                <a href="https://www.hardware.com.br/artigos/computacao-ubiqua/" target="_system" title="O que é Computação Ubíqua ?">(Fonte: Hardware.com)</a>
                </div>
                </ion-card-content>
              </ion-card>
        </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="/assets/ubq3.jpg" alt="" />
          <ion-card-header>
          </ion-card-header>
            <div class="w3-center">
          <ion-card-title><b>Definição</b></ion-card-title> 
        </div>
        <ion-card-content>
          <div style="width: 100%; text-align: justify;">
           <p class="p-conteudo">
            Computação ubíqua tem como objetivo tornar a interação humano computador invisível, ou seja, integrar a 
            informática com as ações e comportamentos naturais das pessoas. Não invisível como se não pudesse ver, 
            mas, sim de uma forma que as pessoas nem percebam que estão dando comandos a um computador, mas como se 
            tivessem conversando com alguém. Além disso, os computadores teriam sistemas inteligentes que estariam conectados 
            ou procurando conexão o tempo todo, dessa forma tornando-se assim onipresente.
  
          </p>
          <p class="p-conteudo">
            O primeiro passo para conseguir chegar a essa interação mais fácil ou invisível, é a utilização de 
            interfaces naturais, a forma mais primitiva que temos de interagir com algum ser humano, que é a utilização da fala, 
            gestos, presença no ambiente ou até mesmo a movimentação dos olhos, deixando dessa forma o teclado e mouse sem nenhuma
            utilização. 
            
          </p>
          <br>
            <a href="https://pt.wikipedia.org/wiki/Computação_ubíqua/" target="_system" title="Computação Ubíqua">(Fonte: Wikipédia)</a>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
              <ion-card>
                <img src="/assets/ubq5.png" alt="" />
                <ion-card-header>
                </ion-card-header>
                  <div class="w3-center">
                <ion-card-title><b>Computação Móvel</b></ion-card-title> 
              </div>
              <ion-card-content>
                <div style="width: 100%; text-align: justify;">
                 <p class="p-conteudo">
                  Computação Móvel é a capacidade de um dispositivo computacional e os serviços associados ao mesmo serem móveis, 
                  permitindo este ser carregado ou transportado mantendo-se conectado a rede ou a Internet.Verifica-se este conceito 
                  hoje na utilização de redes sem fio, acesso à internet através de dispositivos celulares ou mesmo através do próprio celular.
                  <br>
                  <i>Na foto: Sombra - Uma personagem capaz de hackear qualquer dispositivo conectado a rede.</i>
                </p>
                <br>
                <a href="https://www.hardware.com.br/artigos/computacao-ubiqua/" target="_system" title="O que é Computação Ubíqua ?">(Fonte: Hardware.com)</a>
              </div>
                </ion-card-content>
              </ion-card>
      </ion-slide>
      <ion-slide>
              <ion-card>
                <img src="/assets/ubq6.png" alt="" />
                <ion-card-header>
                </ion-card-header>
                  <div class="w3-center">
                <ion-card-title><b>Computação Pervasiva</b></ion-card-title> 
              </div>
              <ion-card-content>
                <div style="width: 100%; text-align: justify;">
                 <p class="p-conteudo">
                  Este conceito define que os meios de computação estarão distribuídos no ambiente de trabalho dos usuários de forma perceptível ou imperceptível.
                  <br>
                    Através deste conceito, supõe-se que o computador estaria distribuído no ambiente, e não seria apenas uma máquina em cima da mesa. 
                    Por meio de sensores, o computador seria capaz de detectar e extrair dados e variações do ambiente, gerando automaticamente modelos 
                    computacionais controlando, configurando e ajustando aplicações conforme as necessidades dos usuários e dos demais dispositivos.
                    <br>
                    <i>Na foto: Um projeto de automação utilizando ESP8266 e Google Assistant.    <a href="https://www.hardware.com.br/artigos/computacao-ubiqua/" target="_system" title="Home Automation using Google Assistant & ESP8266">(Confira aqui).</a></i>
                </p>
                <br>
                <a href="https://www.hardware.com.br/artigos/computacao-ubiqua/" target="_system" title="O que é Computação Ubíqua ?">(Fonte: Hardware.com)</a>
              </div>
                </ion-card-content>
              </ion-card>
           
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="/assets/ubq8.png" alt="" />
          <ion-card-header>
          </ion-card-header>
            <div class="w3-center">
          <ion-card-title><b>Problemas</b></ion-card-title> 
        </div>
        <ion-card-content>
          <div style="width: 100%; text-align: justify;">
           <p class="p-conteudo">
           <b>Segurança:</b>Devido a alta conectividade dos dispositivos, 
           sistemas de proteção e firewalls deverão ser implantados de forma embarcada a fim de proteger os usuários
          e o próprio hardware de acessos não autorizados, roubo de conteúdo ou mesmo vandalismos.
          <br>
          <b>Complexidade:</b> A automatização dos sistemas e dispositivos poderia tornar os sistemas complexos demais para os usuários, 
          sobrecarregando-o com excesso de informações e funcionalidades. A solução do problema de excesso de informações expostas aos 
          usuários deverá ser tratada, onde inclusive existe uma área de pesquisa denominada calm computing, também pesquisada por Mark 
          Weiser.
          <br>
          <b>Privacidade:</b>Com a proliferação de sensores e o desenvolvimento de modelos de contexto, os bancos de dados de diversas 
          empresas e órgãos governamentais ou não irão armazenar grande quantidade de informações sobre os usuários, inclusive de caráter 
          íntimo. A questão está em como proteger estes dados e garantir que seus detentores o protejam e como os usuários poderão se proteger 
          de sensores e o tráfego de informações pessoais. A solução deverá incluir a área jurídica e legislativa.
          </p>
          <br>
          <a href="https://www.hardware.com.br/artigos/computacao-ubiqua/" target="_system" title="O que é Computação Ubíqua ?">(Fonte: Hardware.com)</a>
        </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="/assets/gif1.gif" alt="" width=""/>
          <ion-card-header>
          </ion-card-header>
          <ion-card-content>
            <p>RESUMINDO :)</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      </ion-slides>
    </div>
    </ion-content>
  