<ion-header>
  <ion-toolbar>
      <div class="w3-center">
          <ion-title color="primary">
        <b style="color:black;">Brincadeira</b>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo-slide">
          <ion-card class="w3-center">
              <img src="/assets/quest.jpg" alt="" />
              <ion-card-header>
              </ion-card-header>
              <div class="w3-center">
              <ion-card-title><b>Um pequeno questionario para descontração</b></ion-card-title> 
              </div>
            <ion-card-content>
              <div class="w3-center" style="width: 100%; text-align: justify;">
                <ion-button expand="full" (click)="openSystem()">Clique Aqui</ion-button><br />
              </div>
              </ion-card-content>
            </ion-card>
  </div>
  </ion-content>
